@model Restaurant_Management.Models.Staff

@{
    ViewBag.Title = "EmployeeDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EmployeeDetails</h2>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.Role)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Daysoff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Daysoff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JoinedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoinedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StaffId }) |
    @Html.ActionLink("Back to List", "ListEmployees")
</p>
