@model Restaurant_Management.Models.Staff
@{
    ViewBag.Title = "LoggedIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (Session["UserId"] != null)
{
    <br />
    <br />
    <h1>
        <p class="text-success"><strong>Hello @Session["UserName".ToString()] In Stuff View</strong></p>
    </h1>

    <br />
    <br />

    <div>
        <button type="button" class="btn btn-secondary"> @Html.ActionLink("Employees Module", "EmployeeModule")</button>
        <button type="button" class="btn btn-secondary"> @Html.ActionLink("Meals Module", "MealModule")</button>
        <button type="button" class="btn btn-secondary"> @Html.ActionLink("List Of Orders", "ListOrders", "Order")</button>
        <button type="button" class="btn btn-secondary"> @Html.ActionLink("Make An Order", "MakeOrder", "Order")</button>
    </div>

    <br />
    <br />

}
